[run]
source = tborg

omit =
    *tests*
    # Virtualenv Python 2
    *tborg2*
    # Virtualenv Python 3
    *tborg3*

[report]
show_missing = True
skip_covered = True
precision = 3

# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

[html]
title = ThunderBorg Motor Controller API
directory = docs/htmlcov
