[run]
source = tborg
omit =
    **/examples/*
    **/utils/*
    tmp/*
    */__pycache__/*
    # Doesn't work here, see Makefile.
    #**/tests/*
    #/usr/*

[report]
show_missing = True
skip_covered = True
precision = 3

# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

[html]
title = ThunderBorg Motor Controller API
directory = docs/htmlcov
