[flake8]
exclude =
    .git,
    __pycache__,
    docs/source/conf.py,
    old,
    build,
    dist,
    tmp,

per-file-ignores =
    tborg/tborg.py: E252
    tborg/examples/*: E129, E252, E402
    tborg/tests/*: E265
